node_modules/
.DS_Store
ios/App/Pods/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/DerivedData/
ios/output/
android/.gradle/
android/app/build/
android/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
*.local
